services:
  db:
    image: postgres:15
    container_name: shipping_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: shipping_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: shipping_api
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgresql://postgres:admin@db:5432/shipping_db
    depends_on:
      - db

  etl:
    build:
      context: .
      dockerfile: etl/Dockerfile
    container_name: shipping_etl
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:admin@db:5432/shipping_db
    depends_on:
      - db


  dashboard:
    build:
      context: .
      dockerfile: dashboard/Dockerfile
    container_name: shipping_dashboard
    ports:
      - "8501:8501"
    environment:
      - DATABASE_URL=postgresql://postgres:admin@db:5432/shipping_db
    depends_on:
      - api
      - db

volumes:
  postgres_data:
